/* GraphicalDisplay.module.css */

/* GraphicalDisplay.module.css */

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add more styles as needed */
}

.color0 {
    fill: #0088FE;
    /* Example color */
}

.color1 {
    fill: #00C49F;
    /* Example color */
}

.color2 {
    fill: #FFBB28;
    /* Example color */
}

.color3 {
    fill: #FF8042;
    /* Example color */
}

/* Add more color classes as needed */